<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>

    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-material-design.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/ripples.css">
    <link rel="stylesheet" type="text/css" href="/js/lib/snackbarjs/snackbar.min.css">


    <link rel="stylesheet" type="text/css" href="/css/app.css">
  </head>
  <body>
    <div ng-app="MockApp">



    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Invoice App</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Invoices</a></li>
            <li><a href="#" ng-click="snackbar.show('WIP')">Products</a></li>
            <li><a href="#" ng-click="snackbar.show('WIP')">Customers</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container" ng-controller="InvoicesController">
      <div ng-include="'/js/app/invoices/invoices.html'">

      </div>


    </div> <!-- /container -->

    </div>



    <script type="text/javascript" src="/js/lib/jquery/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/material.js"></script>
    <script type="text/javascript" src="/bootstrap/js/ripples.js"></script>
    <script type="text/javascript" src="/bootstrap/js/init.js"></script>
    <script type="text/javascript" src="/js/lib/snackbarjs/snackbar.min.js"></script>




    <script type="text/javascript" src="/js/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/js/lib/uirouter/angular-ui-router.js"></script>

    <script type="text/javascript" src="/js/app/app.module.js"></script>

    <script type="text/javascript" src="/js/app/invoices/invoices.module.js"></script>
    <script type="text/javascript" src="/js/app/invoices/invoices.controller.js"></script>

    <script type="text/javascript" src="/js/app/invoiceItem/invoiceItem.module.js"></script>
    <script type="text/javascript" src="/js/app/invoiceItem/invoiceItem.component.js"></script>
    <script type="text/javascript" src="/js/app/invoiceItem/invoiceItem.controller.js"></script>

    <script type="text/javascript" src="/js/app/services/data.service.js"></script>
    <script type="text/javascript" src="/js/app/services/snackbar.service.js"></script>




  </body>
</html>
