<div class="invoice row">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12" style="height: 50px;">
        <h3  class="heading-absolute">Invoice #{{ $ctrl.invoice.id }}</h2>

        <button type="button" name="button" class="btn btn-warn pull-right" ng-click="$ctrl.deleteInvoice()">delete</button>
        <button type="button" name="button" class="btn btn-warn pull-right" ng-click="$ctrl.editInvoice()">edit</button>

      </div>

      <div class="col-md-4 col-sm-5">
        <h5><strong>From: </strong></h5>
        <h4>Mock Organisation</h4>
        <h6>37 N. Oakwood Ave. Stevens Point, WI 54481</h6>
        <h6> phone: (123) 937-9992</h6></div>
        <div class="col-md-4 col-md-offset-4 col-sm-5 col-sm-offset-2">
          <h5><strong>To: </strong></h5>
          <h4>{{ $ctrl.customer.name }}</h4>
          <h6>{{ $ctrl.customer.address }}</h6>
          <h6> phone: {{ $ctrl.customer.phone }}</h6></div>
        </div>

      </div>



    <div class="col-md-12" style="margin-top: 20px;">


        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th style="width: 10%">Item </th>
                        <th style="width: 35%">Product </th>
                        <th class="label-right">Price </th>
                        <th class="label-right">Quantity </th>
                        <th class="label-right">Total price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in $ctrl.items">
                        <td>{{ $index +1}} </td>
                        <td>{{ item.name}}, {{item.id}} </td>
                        <td class="label-right">{{ item.price }} </td>
                        <td class="label-right">{{ item.quantity }}</td>
                        <td class="label-right">{{ item.total | number : 2 }}$</td>
                    </tr>

                </tbody>
            </table>
            <table class="table table-total">
                <tbody>
                    <tr>
                        <td class="border-top-black label-right"><strong>Discount: </strong></td>
                        <td class="border-top-black">{{ $ctrl.invoice.discount }}%</td>
                    </tr>
                    <tr>
                        <td class="label-right"><strong>Total: </strong></td>
                        <td>{{ $ctrl.invoice.total | number : 2}}$ </td>
                    </tr>
                </tbody>
            </table>


        </div>
    </div>

    <!-- <pre>{{$ctrl.items | json}}</pre>
    <pre>{{$ctrl.invoice | json}}</pre> -->

</div>
